.o_footer {
    .s_newsletter_block {
        input {
            @if color('footer') {
                @include o-bg-color(lighten(color('footer'), 10%));
                border-color: lighten(color('footer'), 10%);
            }
        }
    }
}

nav.navbar.navbar-expand-lg.navbar-light {
    li {
        a {
            font-family: $o-theme-font;
        }
    }
}

.penguin-lang-div {
    a {
        span {
            color: black;
        }
    }
}

.penguin-lang-dropdown {
    right: 0;
    left: auto;
}
