.o_variant_pills.js_attribute_value.btn.list-inline-item.disabled {
    &, &.active {
        color: gray;
        background-color: rgb(226, 226, 226);
        border-color: rgb(226, 226, 226);
        opacity: unset;
        pointer-events: none;
        @include hover-focus {
            pointer-events: none;
        }
    }
}
