.custom-color-picker {
    li {
        display: block;
        position: relative;
        padding: map-get($spacers, 2) 0;

        .css_attribute_color {
            display: inline-flex;
            align-items: center;
            font-size: 0;
            border-radius: 50%;
            margin-bottom: 0;

            &.active {
                border: 1px solid $primary;

                .custom-color-picker-label {
                    color: $primary
                }
            }

            input {
                height: unset;
                margin: 0;
            }
        }
    }

    &-label {
        font-size: $o-theme-font-size-base;
        position: absolute;
        left: 30px;
    }
}